* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid red;
    background-color: antiquewhite;
    /* 
    applied it to maintain responsiveness on applying media queries
    height: 700px;
    width: 504px; */

    display: grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px;
    grid-gap: 4px;
    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft";

}

.header {
    background-color: blue;
    grid-area: hd;
}

.sidebar {
    background-color: yellowgreen;
    grid-area: side;
}

.content {
    background-color: pink;
    grid-area: main;
}

.footer {
    background-color: orchid;
    grid-area: ft;
}

@media(max-width: 600px){
    .container{
        grid-template-rows: 30px 1fr 1fr 30px;
        grid-template-columns: 1fr;
        grid-gap: 2px;
        grid-template-areas: 
        "hd"
        "side"
        "main"
        "ft";
    }
    
}